{% extends "Root.html" %}

{% block pagetitle %}Store List{% endblock %}

{% block sectiontitle %}Store List{% endblock %}

{% block linkbox %}
    <a href="{% url 'create' %}">Create Store</a><br>
    <hr>
    <a href="{% url 'lists:index' %}">My Lists</a><br>
{% endblock linkbox %}

{% block content %}
<ul>
{% for this_store in stores %}
    <li><a href="{% url 'stores:detail' slug=this_store.slug %}">{{ this_store.name }}</a></li>
{% empty %}
    <li>You have not created any stores, click <a href="{% url 'create' %}">here</a> to get started!</li>
{% endfor %}
</ul>
{% endblock %}
