{% extends "Root.html" %}
{% block pagetitle %}Create a Store{% endblock %}
{% block sectiontitle %}Create a Store{% endblock %}

{% block linkbox %}
  <a href="{% url 'index' %}">Store List</a><br>
  <hr>
  <a href="{% url 'lists:index' %}">My Lists</a><br>
{% endblock linkbox %}

{% block content %}
    <form action="" method="post">
      <ul>
      {{ form.as_ul }}
      </ul>
      {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-info" value="Create!" />
    </form>
{% endblock %}
