{% extends "newRoot.html" %}

{% block pagetitle %}{{object}} @ {{ object.address }}{% endblock pagetitle %}

{% block sectiontitle %}{{ object.name }} <a href="{% url 'stores:update' slug=object.slug %}" class="btn btn-xs btn-success">Edit</a>{% endblock %}


{% block sidebox %}
    {% if isles %}
          <div class="sidebar-module">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{% if not inventory  %}No items found, add them here:{% else %}Up yours, I'm not a webdev!{% endif %}</h3>
                </div>
                <div class="panel-body text-right">
            <form action="{% url 'stores:item-create' slug=object.slug %}" method="post">
                Item{{ ItemCreateForm.name }}<br>
                ${{ ItemCreateForm.price }}<br>
                {{ ItemCreateForm.isle }}<br>
                <input type="submit" class="btn btn-sm btn-info" value="Add Item" />
                {% csrf_token %}
                </ul>
            </form>
                </div>
            </div> <!-- /.panel-primary -->
          </div> <!-- /.sidebar-module -->
    {% endif %}
{% endblock sidebox %}
    
{% block content %}
    <p class="list-group-item"><i>{{ object.address }}</i></p>
    <p class="well">{{ object.notes|linebreaksbr }}</p>

    {% if not isles %}
        <center>
            This store does not have any isles defined. Click <a href="{% url 'stores:isle-create' slug=object.slug %}">here</a> to add one.
        </center>
        <hr width="75%">
    {% endif %}
    
    {% if inventory %}
        <hr width="80%">
        <form action="{% url 'stores:generate' slug=object.slug %}" method="post">
            <table class="table table-striped">
                <tr>
                    <th>Item</th>
                    <th>Cost</th>
                    <th>Isle</th>
                </tr>
                {% for this in inventory %}
                <tr>
                    <td><div class="checkbox"><label><input class="action-select" name="content" type="checkbox" value="{{ this.id }}" /> {{ this }}</label></div></td>
                    <td><a href="{% url 'items:update' pk=this.id %}" style="font-family:monospace">${{ this.price }}</a></td>
                    <td><a href="{% url 'stores:isle:update' slug=object.slug pk=this.isle.id %}">{{ this.isle }}</a></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" class="btn btn-sm btn-info" value="Generate List!" />
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock content %}
