{% extends "Root.html" %}

{% block pagetitle %}Update Store: {{ object }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{% url 'stores:detail' slug=store.slug %}">Store</a></li>
                <li role="presentation" class="active"><a href="{% url 'stores:update' slug=store.slug %}">Edit</a></li>
                <li role="presentation"><a href="{% url 'stores:isle-create' slug=store.slug %}">Add Isle</a></li>
                <li role="presentation"><a href="{% url 'stores:item-create' slug=store.slug %}">Add Item</a></li>
                <li role="presentation"><a href="{% url 'stores:grocery-lists' slug=store.slug %}">Grocery Lists <span class="badge">{{ glist_count }}</span></a></li>
            </ul>
            <div class="panel-body">
                <form action="" method="post">
                    <table class="table table-striped">
                        {{ form.as_table }}
                        <tr>
                            <th>&nbsp;</th>
                            <td>{% csrf_token %}<input type="submit" class="btn btn-sm btn-info" value="Save" /><a class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Cancel</a></td>
                        </tr>
                        <tr>
                            <td class="well text-left">
                                <a href="{% url 'stores:delete' slug=object.slug %}" class="btn btn-xs btn-danger">delete</a>
                            </td>
                            <td class="well text-right">
                                You added this store on <strong>{{ object.created }}</strong>, and last changed it <strong>{{ object.modified }}</strong>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
