{% extends "Root.html" %}

{% block pagetitle %}Update Isle {{ object }}{% endblock %}

{% block sectiontitle %}Update Isle {{ object }}{% endblock %}


{% block linkbox %}
    <a href="{% url 'index' %}">Store List</a><br>
{% endblock linkbox %}


{% block content %}
    <form action="" method="post">
      <b>Isle #: </b>{{ form.name }}{{form.name.errors}} (1-99) <br>
      <br>
      <i>Notes: </i><br>{{ form.notes }}{{form.notes.errors}}
      {% csrf_token %}<br>
      <br>
      <input type="submit" class="btn btn-sm btn-info" value="Save" />
        <a class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
    </form>
{% endblock %}



