{% extends "Root.html" %}

{% block ListView %}active{% endblock %}

{% block pagetitle %}My Grocery Lists{% endblock %}

{% block content %}
<div class="row"> <!-- content-header -->
    <div class="col-sm-8">
        <div class="panel panel-default">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{% url 'stores:detail' slug=store.slug %}">Store</a></li>
                <li role="presentation"><a href="{% url 'stores:update' slug=store.slug %}">Edit</a></li>
                <li role="presentation"><a href="{% url 'stores:isle-create' slug=store.slug %}">Add Isle</a></li>
                <li role="presentation"><a href="{% url 'stores:item-create' slug=store.slug %}">Add Item</a></li>
                <li role="presentation" class="active"><a href="{% url 'stores:grocery-lists' slug=store.slug %}">Grocery Lists <span class="badge">{{ glist_count }}</span></a></li>
            </ul>
            <div class="panel-body">
                <h4>{{ store }}</h4>
                <ul>
                {% for list in lists %}
                    <li class="bg-{% if list.done %}success{% else %}warning{% endif %}">
                        <a href="{{ list.get_absolute_url }}" title="Created {{ list.created }}">{{ list }}</a>
                        (<i>{{ list.modified|date:"M d `y" }}</i>)
                        {% if list.done %}[<b>Done!</b>]{% endif %}
                    </li>
                {% empty %}
                    <li>No lists for this store.</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div> <!-- /content-header -->
{% endblock content %} 
