{% extends "Root.html" %}

{% block ListView %}active{% endblock %}

{% block pagetitle %}Update grocery list: {{ object }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td class="text-right"><form action="" method="post">{% csrf_token %}<b>Name:{{ form.name.errors }}</b></td>
                        <td>{{ form.name }}</td>
                        <td class="success font-align-right"><b>Done? </b>{{ form.done }}{{form.items.errors}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" class="btn btn-sm btn-info" value="Save" /><a class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Back</a></td>
                        <td class="danger font-align-right"><b>Delete? </b>{{ form.deleteme }}{{form.deleteme.errors}}</form></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    <tr><th>Quantity</th><th>Name</th><th>Price</th></tr>
                    {% for tobuy in object.content.all %}
                    <tr>
                        <td>
                            <a id="{{ tobuy.id }}" href="?inc={{ tobuy.id }}" class="btn btn-success btn-xs" role="button">➕</a>
                            <strong>&nbsp;{{ tobuy.quantity }}&nbsp;</strong>
                            <a href="?dec={{ tobuy.id }}" class="btn btn-danger btn-xs" role="button">➖</a>
                        </td>
                        <td>
                            {{ tobuy }}
                        </td>
                        <td>
                            {{ tobuy.name.price }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">Items available to add to your list:</h3>
                <table class="table table-hover">
                    {% for this in can_add %}
                    <tr>
                        <td>
                            <a href="?insert={{ this.id }}" class="btn btn-primary btn-md" role="button">
                              +
                            </a>
                        </td>
                        <td>
                            {{ this }}
                        </td>
                        <td>
                            {{ this.price }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
