{% extends "Root.html" %}

{% block pagetitle %}Update Item: {{ object }}{% endblock %}

{% block sectiontitle %}Update Item: <i>{{ object }}</i>{% endblock %}

{% block linkbox %}
    <a href="{% url 'index' %}">Store List</a><br>
{% endblock linkbox %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <table class="table ">
    <tr><td><b>Name:</b></td><td>{{ form.name }}{{form.name.errors}}</td></tr>
    <tr><td><b>Price:</b></td><td>{{ form.price }}{{form.price.errors}}</td></tr>
    <tr><td><b>Isle:</b></td><td>{{ form.from_isle }}{{form.from_isle.errors}}</td></tr>
      <td></td>
      <td><input type="submit" class="btn btn-sm btn-info" value="Save" /><a class="btn btn-sm btn-default" href="{{ object.store.get_absolute_url }}">Cancel</a></td>
    </tr>
  </table>
</form>
{% endblock %}
